<!DOCTYPE html>
<head>
        
    <title> Hoja de Vida - Emilia</title>
     <style>    
body {
            font-family: Monaco, Monaco;
            background-color: #D0D2FF;
            text-align: left;}
       
        header {
            background-color: #989;
            color:#221F6B}

         
        section {
            background:#D0D2FF;
            margin: 20px auto;
            width: 80%;